<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Max Iraci-Sareri</title>        
        
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/97d927f12c.js" crossorigin="anonymous"></script>

        <!-- dark theme compat -->
        <script src="./scripts/dark_theme.js" defer></script>

        <!-- Vue, to make my life easier -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./scripts/index_projects.js" defer></script>

        <!-- model-viewer title -->
        <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.5.0/model-viewer.min.js"></script>
        <script async src="https://ga.jspm.io/npm:es-module-shims@1.7.1/dist/es-module-shims.js"></script>
        <script type="importmap"> { "imports": { "three": "https://cdn.jsdelivr.net/npm/three@^0.168.0/build/three.module.min.js" } } </script>
        <script type="module" src="https://cdn.jsdelivr.net/npm/@google/model-viewer/dist/model-viewer-module.min.js"></script>
        <script type="module" src="https://cdn.jsdelivr.net/npm/@google/model-viewer-effects/dist/model-viewer-effects.min.js"></script>
        <script src="./scripts/index_header.js" defer></script>

        <!-- Physics Sim (for fun :D) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.20.0/matter.min.js" integrity="sha512-6+7rTBmR6pRFe9fa0vCFjFaHZj/XYa7774bEBzRtxgdpIJOS++R3cKd6Prg/eJmxtsJotd8KAg4g57uuVQsZKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="./scripts/index_physics.js" defer></script>
        
        <!-- this content makes the website look cooler but is largely unnecessary -->
        <script src="./scripts/index_spice.js" defer></script>

        <link rel="stylesheet" href="./styles/main.css">
        <link rel="stylesheet" href="./styles/index/index.css">
        <link rel="stylesheet" href="./styles/index/header.css">
        <link rel="stylesheet" href="./styles/index/projects.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet"> 

        <link rel="shortcut icon" type="image/png" href="./images/favicon.png"/>

    </head>
    <body>
        <div id="bg">
            <div style="mix-blend-mode: soft-light; background: white; isolation: isolate;">
                <div id="bg2"></div>
                <div id="bg3"></div>
                <div id="bg-mouse"></div>
            </div>
        </div>
        <header id="index-header">
            <div id="sparkle-jail">
                <div class="central-focus">
                </div>
            </div>
            <div id="header-inner">
                <div id="header-inner-text">
                    <h1>Max Iraci-Sareri</h1>
                    <p>Software Engineer</p>
                </div>
            </div>
            <div id="computer-3d">
                <!-- "0deg 75deg 3m"  -->
                <model-viewer id="computer" src="./models/computerCombined.glb"
                    camera-orbit="25deg 85deg 2m" shadow-intensity="2" camera-target="-0.01m 0.4m 0m"
                    camera-controls touch-action="pan-y" disable-zoom
                    min-camera-orbit="-35deg 55deg 1m" max-camera-orbit="65deg 85deg 2m" 
                    disable-tap disable-pan
                    environment-image="./images/hdri/day.jpg"
                >
                <!-- interaction-prompt-style="basic" -->
                    <effect-composer render-mode="quality" msaa="8">
                        <bloom-effect strength="0"></bloom-effect>
                        <color-grade-effect tonemapping="aces_filmic"></color-grade-effect>
                        <pixelate-effect granularity="3"></pixelate-effect>
                    </effect-composer>

                    <!-- <div id="header-title" slot="hotspot-header" data-position="0.0 0.35 -0.45" data-normal="1 0 0">
                        <h1>Max Iraci-Sareri</h1>
                        <p>Software Engineer</p>
                    </div> -->

                    <!-- <button class="hotspot computer-button" slot="hotspot-dark" data-position="0.62 0.62 -0.4" data-normal="0 0 1" onclick="toggleDarkMode()">
                        <div class="dark-theme-status">🌞</div>
                    </button> -->
                    <button class="hotspot computer-button" slot="hotspot-dark" data-position="0.435 0.05 -0.43" data-normal="0 0 1" onclick="toggleDarkMode()">
                        <div class="dark-theme-status">🌞</div>
                    </button>
                    <a class="hotspot-link" href="#about"       slot="hotspot-about"       data-position="-0.45 0.05 -0.125"  data-normal="0 0 0">About</a>
                    <a class="hotspot-link" href="#skills"      slot="hotspot-skills"      data-position="-0.75 0.15 -0.3"    data-normal="0 0 0">Skills</a>
                    <a class="hotspot-link" href="#projects"    slot="hotspot-projects"    data-position="-0.15 0.22 -0.5"    data-normal="0 0 0">Projects</a>
                    <a class="hotspot-link" href="#contact"     slot="hotspot-contact"     data-position="-0.4 0.065 -0.4"      data-normal="0 0 0">Contact</a>
                    <!-- <a class="hotspot-link" href="#contact"     slot="hotspot-contact"     data-position="-1 0.075 0.15"      data-normal="0 0 0">Contact</a> -->
                </model-viewer>
            </div>
            <div id="prompt-scroll">
                <p>
                    <a href="#about" class="button-link"><i class="fa-solid fa-arrow-down"></i></a>
                    <a href="#about">Click or scroll</a>
                    <a href="#about" class="button-link"><i class="fa-solid fa-arrow-down"></i></a>
                </p>
            </div>
        </header>
        <dialog id="active-project">
            <button autofocus onclick="closeModal()">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <iframe src="./projects/portfolio_site.html"></iframe>
            <div class="loading">
                <span>
                    <i class="fa-solid fa-spinner fa-spin-pulse"></i>
                </span>
            </div>
        </dialog>
        <main id="main-index">
            <section id="about">
                <header>
                    <h1>About Me</h1>
                </header>
                <p>
                    Hey! Welcome to the site! I'm Max! <br />
                    I'm an avid software engineer who loves to tackle new challenges.
                    I've worked on a variety of projects, from video games and mods to web design and full-stack software and cloud solutions.
                </p>
            </section>
            <section id="skills">
                <header>
                    <h1>Skills</h1>
                </header>
                <section>
                    <h3><i class="fas fa-cog"></i> My skills:</h3>
                    <ul id="skills-list">
                        <li>
                            <details data-group="general">
                                <summary><span>Computer Science / General Programming</span></summary>
                                <span>Fluent and experienced in the following programming languages:</span>
                                <ul>
                                    <li>C# (particularly .NET)</li>
                                    <li>C++/C</li>
                                    <li>JavaScript / TypeScript</li>
                                    <li>Python (2 / 3)</li>
                                    <li>SQL</li>
                                    <li>Java</li>
                                </ul>
                            </details>
                        </li>
                        <li>
                            <details data-group="gamedev">
                                <summary><span>Game Development</span></summary>
                                <span>(effectively everything required to do game jams solo)</span>
                                <ul>
                                    <li>Fluent with game engines such as GameMaker, Godot, Unreal Engine, and Unity (including editor/tool dev)</li>
                                    <li>Intermediate 3D modelling skills (experienced with Blender)</li>
                                </ul>
                            </details>
                        </li>
                        <li>
                            <details data-group="frontend">
                                <summary><span>Frontend Web Development/Design</span></summary>
                                <span>Web development skills:</span>
                                <ul>
                                    <li>Experienced in frontend frameworks, such as Vue and ReactJS</li>
                                    <li>Experienced in CSS, along with CSS compilers such as SASS/LESS</li>
                                    <li>Experienced with website structure frameworks like Bootstrap and Semantic UI</li>
                                    <li>Experienced in HTML structure / semantic HTML5 practises</li>
                                </ul>
                                <span>I designed/developed this portfolio website from scratch!</span>
                                <ul>
                                    <li>Check out more info <a href="projects.html#portfolio-site">here.</a></li>
                                </ul>
                            </details>
                        </li>
                        <li>
                            <details data-group="backend">
                                <summary><span>Backend Web Development/Design</span></summary>
                                <ul>
                                    <li>Experience with common backend stacks, such as the MERN/MEVN stack</li>
                                    <li>Experience with creating full-stack APIs from the backend, using frameworks such as Flask or FastAPI</li>
                                    <li>Created and worked with npm packages</li>
                                    <li>Familiar with and experienced in templating engines to deliver frontend content from the backend</li>
                                </ul>
                            </details>
                        </li>
                        <li>
                            <details data-group="cloud">
                                <summary><span>Cloud Web Backend Development</span></summary>
                                <ul>
                                    <li>Experience with serverless infrastructure</li>
                                    <li>Experience with semi-structured non-relational data, such as NoSQL databases</li>
                                </ul> 
                            </details>
                        </li>
                        <li>
                            <details data-group="vr">
                                <summary><span>VR Development</span></summary>
                                <span>I've created and completed two VR games so far.</span>
                                <ul>
                                    <li>Experienced with the SteamVR and VRTK frameworks</li>
                                    <li>Experienced with meeting and following VR best practises</li>
                                    <li>You can see/read more about both <a href="#projects">here.</a></li>
                                </ul>
                            </details>
                        </li>
                    </ul>
                </section>
                <aside id="fun-physics-sim">
                    <div id="sim-element"></div>
                    <p>Big old pile of skills. Try click-dragging them!</p>
                </aside>
            </section>
            <address id="contact" class="emph-overlay">
                <h3><i class="fas fa-envelope"></i> Get in touch!</h3>
                <p>
                    If you have any questions, or just want to contact me, send me an email at:
                    <!-- lol. -->
                    <blockquote>
                        <script>
                            document.write('m'+'&'+'#'+'9'+'7'+';'+'x'+' '+'&'+'#'+'1'+'0'+'0'+';'+'ot'+'&'+'#'+'3'+'2'+';'+
                            '&'+'#'+'1'+'0'+'5'+';'+'&#'+'1'+'1'+'4'+';'+'&'+'#'+'9'+'7'+';'+'cis'+'a'+'r'+'&'+'#'+'1'+
                            '0'+'1;r'+'&'+'#'+'1'+'0'+'5'+';'+' '+'a'+'&'+'#'+'1'+'1'+'6'+';'+' '+'&'+'#'+'1'+'0'+'3'+';'+
                            '&'+'#'+'1'+'0'+'9'+';'+'a'+'i'+'&'+'#'+'1'+'0'+'8'+';'+' '+'do'+'t'+' '+'c'+'o'+'&'+'#'+'1'+'0'+
                            '9;');
                        </script>
                        <noscript>[Turn on JavaScript to see the email address]</noscript>
                    </blockquote>    
                </p>
                <nav id="contact-list">
                    <p>
                        Also check out my socials, if you'd like:
                    </p>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/max-iraci-sareri/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/MaxIraci/" target="_blank" rel="noopener noreferrer"><i id="elmo-twitter" class="fab fa-square-x-twitter"></i></a></li>
                        <li><a href="https://github.com/maxiraci/" target="_blank" rel="noopener noreferrer"><i class="fab fa-github-square" ></i></a></li>
                    </ul>
                </nav>
            </address>
            <section id="projects">
                <header>
                    <h1>Projects</h1>
                </header>
                <p>Here are some of the projects I've worked on over the past few years:</p>
                <section id="projects-list">
                    <article v-for="project in projects" class="project" :id="project.id">
                        <header>
                            <a :href="project.main_link" @click="show(project.main_link, $event)">
                                <h1>{{project.name}}</h1>
                            </a>
                            <time :datetime="project.datetime">{{project.date}}</time>
                        </header>
                        <figure>
                            <a :href="project.main_link" @click="show(project.main_link, $event)">
                                <img :src="project.imgsrc" />
                            </a>
                        </figure>
                        <p v-html="project.description"></p>
                        <footer>
                            <ul class="tags">
                                <li v-for="tag in project.tags" :class="tag">{{tag}}</li>
                            </ul>
                            <ul class="links">
                                <li>
                                    <a :href="project.main_link" @click="show(project.main_link, $event)">
                                        <i class="fa-solid fa-info-circle"></i>
                                    </a>
                                </li>
                                <li v-for="[key, value] of Object.entries(project.links)">
                                    <a :href="value" target="_blank"><i :class="key"></i></a>
                                </li>
                            </ul>
                        </footer>
                    </article>
                </section>
            </section>
        </main>
        <footer id="site-footer">
            <p>Site design by me. <a href="./projects#portfolio-site">I made this.</a></p>
            <p>with fonts by <a href="https://github.com/pixeldroid/fonts">pixeldroid</a></p>
        </footer>
    </body>
</html>