@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ----------------------------- */
/* CSS RESET */
/* ----------------------------- */
*, *::before, *::after {
    box-sizing: border-box;
}

/* html5 compat for older browsers. lmao */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {    
    --scroll: 0px;
    --scroll-val: 0px;
    position: relative;
    margin: 0;
    /* line-height: 1.5; */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

p, a, 
ul, li, ol,
blockquote, address, time, figcaption {
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    font-display: swap;
    color: var(--color-text-1);
}

address {
    font-style: normal;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h2, h3, h4 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: var(--color-text-1);
}

html, main {
    background-color: var(--color-bg-1);
}

/* ----------------------------- */
/* color schemes */
/* ----------------------------- */

:root, html {
    --color-bg-0: white;
    --color-bg-1: #ddd;
    --color-bg-2: #bbb;

    --color-bg-accent: #a6d4b0;
    --color-bg-mouse: #1f94a3;
    --color-bg-transparent: #dddddd88;
    --color-bg-modal: #22222288;
    
    --color-text-1: #222;

    --color-text-invert-1: #ddd;

    --color-text-light: var(--color-text-invert-1);
    --color-text-dark: var(--color-text-1);

    /* links: light vs dark */
    --color-link-light: #7ae2ff;
    --color-link-visited-light: #f4a1ff;
    --color-link-dark: #1f1ebf;
    --color-link-visited-dark: #5c167b;

    /* links: regular vs inverted */
    --color-link: var(--color-link-dark);
    --color-link-visited: var(--color-link-visited-dark);
    --color-link-invert: var(--color-link-light);
    --color-link-visited-invert: var(--color-link-visited-light);


    --image-opacity: 100%;

    --color-accent-1: #36c187;
    --color-accent-2: #37946e;
    --color-accent-3: #217552;

    --color-tag-1: #91ddbd;
    --color-tag-2: #89dada;
    --color-tag-3: #d3a1dd;
    --color-tag-4: #df9da6;
    --color-tag-5: #dbda98;
    --color-tag-6: #dbb898;
    --color-tag-7: #b0b1e9;

    --sky-color: linear-gradient(to bottom, #aef6ff, #36aae0 40%);

    --index-bg: linear-gradient(to bottom, transparent, #be0 30%);
    --index-bg2: linear-gradient(to bottom, transparent 60%, #0eb);

    --bg-side: url("../../images/sidebar_pixel_gradient.png");
}

:root.dark, html.dark {
    --color-bg-0: black;
    --color-bg-1: #202020;
    --color-bg-2: #333;

    --color-bg-accent: #0b2b28;
    --color-bg-mouse: #1f515e;
    --color-bg-transparent: #22222288;
    --color-bg-modal: #dddddd88;

    --color-text-1: #ddd;
    
    --color-text-invert-1: #222;

    --color-text-light: var(--color-text-1);
    --color-text-dark: var(--color-text-invert-1);

    --color-link: var(--color-link-light);
    --color-link-visited: var(--color-link-visited-light);
    --color-link-invert: var(--color-link-dark);
    --color-link-visited-invert: var(--color-link-visited-dark);

    --image-opacity: 75%;

    --color-accent-1: #063d38;
    --color-accent-2: #095b54;
    --color-accent-3: #22746b;

    --color-tag-1: #095b1e;
    --color-tag-2: #095b54;
    --color-tag-3: #471c5a;
    --color-tag-4: #5a1c1c;
    --color-tag-5: #5a541c;
    --color-tag-6: #864b07;
    --color-tag-7: #0f0786;

    --sky-color: linear-gradient(to bottom, #2e4058, #191c25 40%);

    --index-bg: linear-gradient(to bottom, transparent, #1d3d5a 30%);
    --index-bg2: linear-gradient(to bottom, transparent 60%, #193d35);

    --bg-side: url("../../images/sidebar_pixel_gradient_dark.png");
}

/* ----------------------------- */
/* LINKS */
/* ----------------------------- */

a, .link-button {
    color: var(--color-link);

    & :visited {
        color: var(--color-link-visited);
    }

    &.light {
        color: var(--color-link-light);
        & :visited {
            color: var(--color-link-visited-light);
        }
    }

    &.dark {
        color: var(--color-link-dark);
        & :visited {
            color: var(--color-link-visited-dark);
        }
    }
}

html {    
    scrollbar-color: var(--color-accent-3) var(--color-accent-2);
}

button, .button-link {
    border: 2px solid var(--color-bg-1);
    padding: 0;
    border-radius: 50%;
    /* line-height: 2ch; */
    text-align: center;
}

.link-button {
    border: none;
}

#bg * {
    display: block;
    position: absolute;
    image-rendering: pixelated;
    width: 100%;
    top:0;
    bottom:0;
}


[role=doc-subtitle] {
    font-style: italic;
    margin: 0;
}

/* ----------------------------- */
/* common elements */
/* ----------------------------- */

#site-header {
    width: 100%;
    position: sticky;
    top: 0; 
    background: var(--color-bg-accent);
    z-index: 2;
    padding: 12px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    & p {
        margin: 4px;
    }
}

#site-footer {
    background-color: #333;
    color: white;
    padding:8px 16px;
    margin-top:1em;

    z-index: 2;
    position: relative;
    margin-top: auto;

    & p {
        color: var(--color-text-light);
    }

    & a {
        color: var(--color-link-light);
        &:visited {
            color: var(--color-link-visited-light);
        }
    }
}

/* ----------------------------- */
/* fancy background */
/* ----------------------------- */

@media screen and (min-width: 1500px) { 
    body::before, body::after {
        content:"";
        z-index: 1;
        display: block;
        position: absolute;
        background: var(--bg-side);
        background-size: 64px;
        top: 0;
        height: 100%;
    }

    body::before {
        left: -8px;
        width: 64px;
        transform: scale(-1, -1);
    }

    body::after {
        right: 0px;
        width: 47px;
    }
}